<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    이름<br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    은행계좌 정보 (참고용)<br>
    <%= f.text_field :account_info, class: 'form-control' %>
  </div>
  <div class="field">
    숨김<br>
    <%= f.check_box :is_removed, class: 'form-control' %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :balance %><br>
    <%= f.hidden_field :balance, value: '0' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
