<% content_for :body do %>
	<h3><%= @user.name %></h3>
	<form action="/users/<%= @user.id %>/event" id="event-form" method="post">
		<p>얼마나 <%= @msg %></p>
		<% if @multi_target %>
			<input type="number" id="price-input" name="amount" class="form-control" placeholder="총 금액을 입력하세요.">
		<% else %>
			<input type="number" id="price-input" name="amount" class="form-control" placeholder="금액을 입력하세요.">
		<% end %>
		<button type="button" class="btn btn-primary btn-sm" onclick="ui.addPrice(10000);">+만원</button>
		<button type="button" class="btn btn-success btn-sm" onclick="ui.addPrice(5000);">+오천원</button>
		<button type="button" class="btn btn-info btn-sm" onclick="ui.addPrice(1000);">+천원</button>
		<button type="button" class="btn btn-warning btn-sm" onclick="ui.addPrice(500);">+오백원</button>
		<button type="button" class="btn btn-danger btn-sm" onclick="ui.resetPrice();">리셋</button>
		<br /><br />
		<p>누구에게 <%= @msg %></p>
		<% if @multi_target %>
			<input type="" id="target-input" class="form-control" placeholder="버튼을 눌러 사람을 추가하세요." readonly>
			<% @users.each do |user| %>
				<% if user.id.to_i != @user.id.to_i %>
					<% unless user.is_removed %>
						<button type="button" class="btn btn-default btn-sm" onclick="ui.addTargetUser('<%= user.name %>', '<%= user.id %>');"><%= user.name %></button>
					<% end %>
				<% end %>
			<% end %>
			<button type="button" class="btn btn-danger btn-sm" onclick="ui.resetTargetUser();">리셋</button>
		<% else %>
			<input type="" id="target-input" class="form-control" placeholder="버튼을 눌러 사람을 선택하세요." readonly>
			<% @users.each do |user| %>
				<% if not user.is_removed and (user.id.to_i != @user.id.to_i) %>
					<button type="button" class="btn btn-default btn-sm" onclick="ui.setTargetUser('<%= user.name %>', '<%= user.id %>');"><%= user.name %></button>
				<% end %>
			<% end %>
		<% end %>
		<br /><br />
		<% if @desc %>
			<p>무슨일로 <%= @msg %></p>
			<input type="text" name="desc" class="form-control" placeholder="비워놓아도 괜찮아요.">
		<% else %>
			<input type="hidden" name="desc" class="form-control" placeholder="비워놓아도 괜찮아요." value="빚 청산">
		<% end %>
		<input type="hidden" name="user_id" value="<%= @user.id %>">
		<input type="hidden" name="negative" value="<%= @negative %>">
		<input type="hidden" id="target-id-input" name="target_id" value="">

		<br />
		<p id="confirm-text">
		</p>
		<br />
		<button type="button" class="btn btn-default" onclick="ui.submitEventForm(<%= @user.id %>);">등록</button>
		<a href="/users/<%= @user.id %>" type="button" class="btn btn-warning" onclick="ui.submitEventForm();">돌아가기</a>
		<br />
		<br />
	</form>
<% end %>
