<!-- <h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Account info</th>
      <th>Balance</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.account_info %></td>
        <td><%= user.balance %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 -->
<!-- <h2>U&I Lab</h2> -->
<img src="http://uilab.kaist.ac.kr/images/uilab_logo.png" style="margin-top:20px">
<h3>당신은 누구인가요?</h3>
<% @users.each do |user| %>
  <% unless user.is_removed %>
    <%= link_to user.name, user, class: 'btn btn-default btn-block btn-lg' %>
  <% end %>
<% end %>
<!--
<%= link_to '새로운 사람', new_user_path, class: 'btn btn-warning btn-block btn-lg' %>
-->
<a href="/transactions" class="btn btn-info btn-lg btn-block" style="margin-top: 20px;">거래내역 보기</a>
<a href="/close" class="btn btn-danger btn-lg btn-block" style="margin-top: 20px;">로그아웃</a>
<br />