<!-- <h2>U&I Lab</h2> -->
<img src="http://uilab.kaist.ac.kr/images/uilab_logo.png" style="margin-top:20px">

<% if flash[:msg] %>
	<div class="alert alert-danger"><%= flash[:msg] %></div>
<% end %>

<form id="login-form" action="/auth" method="post">
	<input type="password" id="login-passcode-input" class="form-control" name="passcode" placeholder="Passcode" style="margin-top:20px"><br />
	<!--
	<% ((1..9).to_a + [0]).each do |i| %>
		<button type="button" class="btn btn-warning btn-lg" onclick="ui.addPasscode('<%= i %>');"><%= i %></button>
		<% if i == 5 %>
			<br />
		<% end %>
	<% end %>
	<button type="button" class="btn btn-danger btn-lg" onclick="ui.resetPasscode();">삭제</button>
	-->
	<button type="button" class="btn btn-info btn-lg btn-block" onclick="$('#login-form').submit();" style="margin-top:20px">Log in</button>
</form>