<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Account info:</strong>
  <%= @user.account_info %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @user.balance %>
</p>

<a href="/user"
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
 -->

<% if notice %>
	<div class="alert alert-warning"><%= notice %></div>
<% end %>
<h3><%= @user.name %></h3>

<p>
	<% if @user.balance > 0 %>
		받을 돈이 <span style="color:#0099FF"><%= number_with_delimiter(@user.balance) %></span>원 있네요.<br /><br />
		<% if @retrieval_infos %>
			<button id="retrieval-button" type="button" class="btn btn-info btn-sm" onclick="$('#retrieval-info').slideDown();$('#retrieval-button').hide();">빌려준 돈은 누구에게 받아야 하나요?</button>
			<div id="retrieval-info" class="no-display">
				<div class="panel panel-default">
					<div class="panel-heading">빌려준 돈은 이렇게 받아요.</div>
				  	<div class="panel-body">
				  		<% @retrieval_infos.each do |retrieval_info| %>
					    	<%= retrieval_info[:user].name %>에게 <%= number_with_delimiter(retrieval_info[:amount]) %>원을 받습니다. <br />
					    <% end %>
				  	</div>
				</div>
			</div>
		<% end %>
	<% elsif @user.balance == 0 %>
		지금은 받을 돈도, 갚을 돈도 없습니다.
	<% else %>
		갚아야 할 돈이 <span style="color:#CC3366"><%= number_with_delimiter(-@user.balance) %></span>원 있네요.<br /><br />
		<% if @payback_infos %>
			<button id="payback-button" type="button" class="btn btn-info btn-sm" onclick="$('#payback-info').slideDown();$('#payback-button').hide();">빌린 돈은 누구에게 갚아야 하나요?</button>
			<div id="payback-info" class="no-display">
				<div class="panel panel-default">
					<div class="panel-heading">빌린 돈은 이렇게 갚아요.</div>
				  	<div class="panel-body">
				  		<% @payback_infos.each do |payback_info| %>
					    	<%= payback_info[:user].name %>에게 <%= number_with_delimiter(payback_info[:amount]) %>원을 갚습니다. <br />
					    	(<%= payback_info[:user].account_info %>)<br />
					    <% end %>
				  	</div>
				</div>
			</div>
		<% end %>
	<% end %>
</p>
<a rel="external" data-ajax="false" href="/users/<%= @user.id %>/event?msg=빌려줬나요?&negative=false&multi_target=true&desc=true" class="btn btn-default btn-block btn-lg">빌려줬어요</a>
<!--a rel="external" data-ajax="false" href="/users/<%= @user.id %>/event?msg=빌렸나요?&negative=true&multi_target=false" class="btn btn-default btn-block btn-lg">빌렸어요</a>
<a rel="external" data-ajax="false" href="/users/<%= @user.id %>/event?msg=받았나요?&negative=true&multi_target=false&desc=false" class="btn btn-default btn-block btn-lg">돌려받았어요</a-->
<a rel="external" data-ajax="false" href="/users/<%= @user.id %>/event?msg=갚았나요?&negative=false&multi_target=false&desc=false" class="btn btn-default btn-block btn-lg">갚았어요</a>
<a data-ajax="false" href="/users" class="btn btn-warning btn-block btn-lg">돌아가기</a>