<h3>거래내역</h3>
<br />
<a href="/users" class="btn btn-warning">돌아가기</a>
<br /><br />
<% @users.each do |user| %>
  <% unless user.is_removed %>
    <div>
      <%= user.name %> <%= number_with_delimiter(user.balance) %>원
    </div>
    <div class="progress" style="margin-bottom: 5px">
      <% if user.bar_percent >= 0 %>
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%= user.bar_percent %>%">
        </div>
      <% else %>
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%= -user.bar_percent %>%">
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<p style="color: #989898">오차 <%= number_with_delimiter(@sum_of_balances) %>원</p>
<br /><br />
<%= paginate @transactions, :remote => false %>
<% @transactions.each do |transaction| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <% if transaction.amount >= 0 %>
        <%= transaction.from_user.name %> <span class="glyphicon glyphicon-arrow-right"></span> <%= transaction.to_user.name %> <br />
        <%= number_with_delimiter(transaction.amount) %>원<br />
      <% else %>
        <%= transaction.to_user.name %> <span class="glyphicon glyphicon-arrow-right"></span> <%= transaction.from_user.name %> <br />
        <%= number_with_delimiter(-transaction.amount) %>원<br />
      <% end %>
      <% if transaction.description.to_s.length > 0 %>
        <%= transaction.description %><br />
      <% end %>
      <%= transaction.created_at.in_time_zone('Seoul') %><br />
      (<%= time_ago_in_words(transaction.created_at) %> ago)
    </div>
  </div>
  <!--td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
<% end %>
<%= paginate @transactions, :remote => false %>
<br />

<!--%= link_to 'New Transaction', new_transaction_path %-->
<a href="/users" class="btn btn-warning">돌아가기</a>
<br /><br />&nbsp;