<p id="notice"><%= notice %></p>

<p>
  <strong>From user:</strong>
  <%= @transaction.from_user_id %>
</p>

<p>
  <strong>To user:</strong>
  <%= @transaction.to_user_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
