<!DOCTYPE html>
<html>
<head>
	<title>Table</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="whilte">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link rel="shortcut icon" href="http://uilab.kaist.ac.kr/images/uilab_fav.png" /> 
	<style>
		.content {
			padding: 0 5% 0 5%;
		}
		.no-display {
			display: none;
		}
	</style>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<%= csrf_meta_tags %>
	<script>
		window.ui = window.ui || {};
		ui.targetUsers = [];
		$(function() {
			$('#price-input').change(ui.setEventInfoText);
		});
		ui.addPrice = function(amount) {
			if($('#price-input').val() == ''){
				$('#price-input').val('0');
			}
			$('#price-input').val(parseInt($('#price-input').val()) + amount);
			ui.setEventInfoText();
		};
		ui.resetPrice = function() {
			$('#price-input').val('');
			ui.setEventInfoText();
		};
		ui.addTargetUser = function(targetName, targetId) {
			if(ui.targetUsers.indexOf(targetId) < 0) {
				if($('#target-input').val() != ''){
					$('#target-input').val($('#target-input').val() + ', ');
				}
				$('#target-input').val($('#target-input').val() + targetName);
				if($('#target-id-input').val() != ''){
					$('#target-id-input').val($('#target-id-input').val() + ',');
				}
				$('#target-id-input').val($('#target-id-input').val() + targetId);
				ui.targetUsers.push(targetId);
			}
			ui.setEventInfoText();
		};
		ui.setTargetUser = function(targetName, targetId) {
			ui.resetTargetUser();
			ui.addTargetUser(targetName, targetId);
			ui.setEventInfoText();
		};
		ui.resetTargetUser = function() {
			$('#target-input').val('');
			$('#target-id-input').val('');
			ui.targetUsers = [];
			ui.setEventInfoText();
		};
		ui.submitEventForm = function(userId) {
			if($('#price-input').val() == ''){
				$('#price-input').val('0');
			}
			if (ui.targetUsers.length > 0 && parseInt($('#price-input').val()) > 0) {
				if (ui.targetUsers.length > 1) {
					$('#target-id-input').val($('#target-id-input').val() + ',' + userId);
				}
				$('#event-form').submit();
			}
		};
		ui.setEventInfoText = function() {
			if($('#price-input').val() != '' && ui.targetUsers.length > 0 && parseInt($('#price-input').val()) > 0) {
				if (ui.targetUsers.length > 1) {
					$('#confirm-text').html($('#target-input').val() + '와(과) 함께 사용한 ' + $('#price-input').val() + '원을 1/n하면 각 사람에게 ' + parseInt(parseInt($('#price-input').val()) / (ui.targetUsers.length + 1)) + '원씩 빌려준 셈이네요.<br />금액과 사람을 확인 후 맞으면 등록해주세요.');
				}
				else {
					$('#confirm-text').html($('#price-input').val() + '원을 ' + $('#target-input').val() + '에게 주셨네요.<br />금액과 사람을 확인 후 맞으면 등록해주세요.');
				}
			}
			else {
				$('#confirm-text').html('');
			}
		};
		ui.addPasscode = function(code) {
			$('#login-passcode-input').val($('#login-passcode-input').val() + code);
		};
		ui.resetPasscode = function(code) {
			$('#login-passcode-input').val('');
		};
		
	</script>
	<%= yield :head %>
</head>
<body>
	<div class="content">
		<% if content_for? :body %>
			<%= yield :body %>
		<% else %>
			<%= yield %>
		<% end %>
	</div>
</body>
</html>
